services:
  db:
    image: postgres:18-alpine
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: whoami
      POSTGRES_PASSWORD: shhhhItsASecret
      POSTGRES_DB: whoami_development
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
